:root{
    --pink:#eb1f1f;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 96px; 
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: rgb(255, 255, 255);
    padding: 32px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 8px 16px rgba(0,0,0,.1);
}

header .logo { 
    font-size: 35px;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color: var(--pink);
}

